@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* header */

header{
    background-color: white;
}

header h1{
    margin-top: 15px;
    margin-bottom: 15px;
}

/* body */

body{
    background-color: rgb(66, 66, 66);
}

/* score-board */

